@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

.dark {
  --background: 17 24 39;
  --foreground: 243 244 246;
}

html,
body,
#__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.container-responsive {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}


